<% include partials/header %>
<div class="container">
	<h1 class="display-3 text-center">Welcome to the Soccer Satellites League!</h1>
<h2 class="text-center">If you want to see stats, click <a href="/standings">here.</a> If you wnat to see player stats, click <a href="/players">here.</a></h2>
</div>
<% include partials/footer %>
