<% include partials/header %>

<h1 class="display-3">Player Stats</h1>
<h3>These are the stats for the individual players</h3>
<p>We are making an API to make this easier and more efficent</p>

<div class="container">
<table class="table table-bordered">
  <tr>
    <th scope="col">Player</th>
    <th scope="col">Goals</th>
    <th scope="col">Assists</th>
    <th scope="col">Points</th>
  </tr>
  <tr>
    <th>Colby Gray</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <th>Evan Bureau</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <th>Hayden Dingwell</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <th scope="col">Goalie</th>
    <th scope="col">GAA</th>
    <th scope="col">Shots Against</th>
    <th scope="col">Goals Against</th>
  </tr>
  <tr>
    <th>Magnus Peterson Munoz</th>
    <td>0.00</td>
    <td>0</td>
    <td>0</td>
  </tr>
</table>
</div>
<% include partials/footer %>