<% include partials/header %>
<h1 class="text-center display-3">Standings</h1>
<h3 class="text-center">These are the standings of each team in the SSL</h3>

<div class="container">
  <table class="table table-bordered">
    <tr>
      <th scope="row">Team</th>
      <th scope="row">Points</th>
      <th scope="row">Average GPG</th>
    </tr>
    <tr>
      <th scope="col">Calgary Cardinals</th>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th scope="col">Airdrie Fire</th>
      <td>0</td>
      <td>0</td> 
    </tr>
  </table>
  <p>GPG = Goals Per Game</p>
</div>
<% include partials/footer %>